<h2>Search Installable Units</h2>
<div layout="row" layout-align="space-between center">
  <div flex>
    <md-input-container ng-submit="$ctrl.searchUnits()" name="searchUnitsForm">
      <input name="unitId" id="unitId" ng-model="$ctrl.unitSearchField.keywords" ng-model-options="{debounce:300}" ng-pattern='$ctrl.unitIdFormat' ng-change="$ctrl.searchUnits()">
    </md-input-container>
  </div>
  <div>
    <md-button class="md-primary md-raised" ng-click="$ctrl.searchUnits()">Search</md-button>
  </div>
</div>

<md-list class="scrollList">
  <md-subheader class="md-sticky">Units</md-subheader>
  <md-virtual-repeat-container class="infiniteScroll">
    <md-list-item md-virtual-repeat="unit in $ctrl.units" md-on-demand ng-click="$ctrl.activeUnit = unit" class="repeated-item" flex>
      {{unit.unitId}}
    </md-list-item>
  </md-virtual-repeat-container>
</md-list>

<md-content class="scrollList smallScrollList">
  <md-list>
    <md-subheader class="md-sticky">Versions</md-subheader>
    <md-list-item ng-repeat="version in $ctrl.activeUnit.versions" ng-click="$ctrl.getRepositoriesForVersion($ctrl.activeUnit.unitId, version)" ng-init="version.repositoriesLoaded=false; version.showRepositories=false">
      {{version.version}}
      <md-button class="md-icon-button md-primary md-secondary" ng-if="!$ctrl.shoppingCart.isInCart($ctrl.activeUnit.unitId, version.version)" ng-click="$ctrl.shoppingCart.addUnit($ctrl.activeUnit.unitId, version.version)"><i class="material-icons">shopping_cart</i></md-button>
      <md-button class="md-icon-button md-warn md-secondary" ng-if="$ctrl.shoppingCart.isInCart($ctrl.activeUnit.unitId, version.version)" ng-click="$ctrl.shoppingCart.removeUnit($ctrl.activeUnit.unitId, version.version)"><md-icon>remove_shopping_cart</md-icon></md-button>
      <ul class="list-group" ng-if="version.showRepositories">
        <li class="list-group-item" ng-repeat="repository in version.repositoriesWithVersion">
          <span class="angularButton" ng-click="$ctrl.filterUnitsByRepo(repository)">{{repository.uri}}</span>
        </li>
      </ul>
    </md-list-item>
  </md-list> 
</md-content>