<h2>Search Repositories</h2>
<div layout="row" layout-align="space-between center">
  <div flex>
    <md-input-container ng-submit="$ctrl.searchRepositories()" name="searchRepositoriesForm">
      <input name="repoId" id="repoId" ng-model="$ctrl.repoSearch.keywords" ng-model-options="{debounce:300}" ng-change="$ctrl.searchRepositories()">
    </md-input-container>
  </div>
  <div>
    <md-button class="md-primary md-raised" ng-click="$ctrl.searchRepositories()">Search</md-button>
  </div>
</div>

<md-list class="scrollList">
  <md-subheader class="md-sticky">Repositories</md-subheader>
  <md-virtual-repeat-container class="infiniteScroll">
    <md-list-item md-virtual-repeat="repository in $ctrl.repositories" md-on-demand ng-click="$ctrl.getChildrenOfRepo(repository); $ctrl.filterUnitsByRepo(repository)" class="repeated-item" flex>
      <div>
        {{repository.uri}}
        <div ng-include="'app/repository-list/repository-list-children.template.html'"></div>
      </div>
    </md-list-item>
  </md-virtual-repeat-container>
</md-list>