<div class="row">
  <div class="col-lg-6">
    <h2 class="m-2">Units in cart</h2>
    <button type="button" class="btn m-1" ng-click="$ctrl.shoppingCart.empty()">Clear cart</button>
    <ul class="list-group">
    <li class="list-group-item" ng-repeat="unit in $ctrl.shoppingCart.getUnits() | orderBy:'unitId'">
      <span>{{unit.unitId}} -</span>
      <span>{{unit.version}}</span>
      <button type="button" class="btn m-1" ng-click="$ctrl.shoppingCart.removeUnit(unit.unitId, unit.version)">Remove from cart</button>
    </li>
    </ul> 
  </div> 
  <div class="col-lg-6">
    <h2 class="m-2">Required repositories</h2>
    <ul class="list-group">
    <li class="list-group-item" ng-repeat="repository in $ctrl.shoppingCart.getRepositories() | orderBy:'uri'">
      {{repository.uri}}
    </li>
    </ul>  
  </div> 
  </div>