body {
	background-color: #19A9F9
}

.container {
	background-color: white
}

.angularButton {
    color: blue;
    cursor: pointer;
}

.angularButton:hover {
    text-decoration: underline;
}

.angularButton:active {
    color: #ffa500;
    text-decoration: underline;
}

.spacingElement {
	visibility: hidden;
}