body {
    overflow-y:scroll;
    width: 100vw;
}

h2 {
    text-align: center;
}

li {
    word-break: break-all;
}

md-input-container {
    display: flex;
}

.mainContent {
    margin-top: 2em;
    width: 960px;
}

.scrollList {
    word-break: break-all;
    border: solid 1px grey;
}

.infiniteScroll {
    min-height: 320px;
}

.smallScrollList {
    min-height: 200px;
    max-height: 200px;
}

#fullPageList {
    max-height: 80vh;
}