body {
    background-color: #19A9F9;
    overflow-y:scroll;
}

li {
    word-break: break-all;
}

md-input-container {
    display: flex;
}

.container {
    background-color: white;
    height: 95vh;
    max-width: 950px;
}

.angularButton {
    color: blue;
    cursor: pointer;
}

.angularButton:hover {
    text-decoration: underline;
}

.angularButton:active {
    color: #ffa500;
    text-decoration: underline;
}

.spacingElement {
	visibility: hidden;
}

.scrollList {
    word-break: break-all;
    border: solid 1px grey;
}

.infiniteScroll {
    min-height: 320px;
}

.smallScrollList {
    min-height: 200px;
    max-height: 200px;
}

#fullPageList {
    max-height: 80vh;
}