<h2 class="m-2">Search Repositories</h2>
<div layout="row" layout-align="space-between center">
  <div flex>
    <md-input-container ng-submit="$ctrl.searchRepositories()" name="searchRepositoriesForm">
      <input name="repoId" id="repoId" ng-model="$ctrl.repoSearch.keywords" ng-model-options="{debounce:300}" ng-change="$ctrl.searchRepositories()">
    </md-input-container>
  </div>
  <div>
    <md-button class="md-primary md-raised" ng-click="$ctrl.searchRepositories()">Search</md-button>
  </div>
</div>

<ul class="list-group" infinite-scroll="$ctrl.loadMoreRepositories()" infinite-scroll-use-document-bottom="false" infinite-scroll-parent="false" infinite-scroll-distance="1">
  <li class="list-group-item" ng-repeat="repository in $ctrl.repositories | orderBy:'uri'" ng-include="'app/repository-list/repository-list-children.template.html'">
  </li>
</ul>
<div layout="row" layout-padding layout-align="space-around">
  <md-progress-circular ng-if="$ctrl.repositoriesAreLoading" md-mode="indeterminate"></md-progress-circular>
  <h3 ng-if="$ctrl.allRepositoriesLoaded">You have reached the end</h3>
</div>